<connectionStrings>
	<add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=StoreFront.UI.MVC-2-1-alpha1;Integrated Security=true" providerName="System.Data.SqlClient" />
	<add name="BurntheMeterEntities" connectionString="metadata=res://*/BurntheMeterEntityModel.csdl|res://*/BurntheMeterEntityModel.ssdl|res://*/BurntheMeterEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=BurntheMeter;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<!--<add name="DefaultConnection" connectionString="Data Source=SQL5074.site4now.net;Initial Catalog=db_a81d7f_d2201mredifer;User Id=db_a81d7f_d2201mredifer_admin;Password=Sm@rterPass2" providerName="System.Data.SqlClient" />
	<add name="BurntheMeterEntities" connectionString="metadata=res://*/BurntheMeterEntityModel.csdl|res://*/BurntheMeterEntityModel.ssdl|res://*/BurntheMeterEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5074.site4now.net;Initial Catalog=db_a81d7f_d2201mredifer;User Id=db_a81d7f_d2201mredifer_admin;Password=Sm@rterPass2&quot;" providerName="System.Data.EntityClient" />-->
</connectionStrings>